{% extends "layouts/module_admin.html" %}

{% block title %} Modules {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Modules">{{ _('Modules')}}</a></li>
{% endblock %}

<!-- [ Main Content ] start -->
{% block module %}

<!-- [ Main Content ] start -->
<script src="{{ config.ASSETS_ROOT }}/plugins/vue/vue@2.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/vue/axios.min.js"></script>
<div id="list_modules">
  <div class="d-flex justify-content-between mb-2">
    <button  class="btn btn-primary btn-sm d-flex align-items-center me-3" type="button" @click="fetchData()">
      <span v-if="loading" class="fas fa-rotate fa-spin me-2"></span>
      <span v-else class="fas fa-rotate me-2"></span>
      {{ _('Refresh')}}
    </button>
    <div class="d-flex flex-grow-1 align-items-center">
      <div class="form-check form-switch me-2 d-flex align-items-center">
        <input class="form-check-input" type="checkbox" id="onlyUpdatesSwitch" v-model="showOnlyUpdates">
        <label class="form-check-label ms-1 text-nowrap" for="onlyUpdatesSwitch">{{ _('Only with updates') }}</label>
      </div>
      <div class="input-group">
        <input v-model="search" type="text" class="form-control" placeholder="Filter...">
        <button class="btn btn-outline-secondary" type="button" @click="search=null"><i class="fa-solid fa-broom"></i></button>
      </div>
    </div>
    <button type="button" class="btn btn-secondary text-nowrap ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <span class="fas fa-gear me-2"></span>
      {{ _('Settings')}}
  </button>
  </div>

    <ul class="nav nav-tabs mb-3" id="configTabs" role="tablist">
        <li class="nav-item"><a class="nav-link tab-button active" href="#installed" data-bs-toggle="tab" role="tab">{{ _('Installed')}}</a></li>
        <li class="nav-item"><a class="nav-link tab-button" href="#uninstalled" data-bs-toggle="tab" role="tab">{{ _('Available')}}</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="installed" role="tabpanel" aria-labelledby="general-tab">
        <div class="row mx-1">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-2 px-1" v-if="osyshome && (!showOnlyUpdates || osyshome.update)">
            <div class="card p-2 cursor-pointer" style="height:100%;" @click="openInfo('osyshome', true)">
              <div class="d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">
                    <img src="{{ config.ASSETS_ROOT }}/images/logo-dark.png" height="25px" onError="this.src='{{ config.ASSETS_ROOT }}/images/module.png'">
                    <a :href="osyshome.url" target="_blank">[[ osyshome.name ]]</a>
                    <span v-for="topic in osyshome.topic" class="badge bg-secondary">[[topic]]</span>
                    <span v-if="osyshome.stars"><i class="text-warning fa-solid fa-star ms-1"></i>[[osyshome.stars]]</span>
                  </div>
                  <div>[[ osyshome.description ]]</div>
                  <div>{{ _('Author')}}: <b>[[osyshome.author]]</b></div>
                </div>
                <span v-if="loading" class="fas fa-rotate fa-spin me-2"></span>
                <a
                  v-if="!loading && osyshome.update"
                  href="?op=upgrade_core"
                  class="btn btn-success"
                  @click.stop.prevent="startUpgrade('?op=upgrade_core', osyshome.name)"
                ><i class="fa-solid fa-upload"></i> {{ _('Upgrade')}}</a>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row mx-1">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-2 px-1" v-for="(plugin,index) in filteredPlugins">
            <div class="card p-2 cursor-pointer" style="height:100%;" id="widgetPlugin_{{index}}" :style="!plugin.active ? 'background-color: #eaecee;' : ''" @click="openInfo(plugin.name, true)">
              <div class="d-flex flex-column" style="height: 100%;">
                <!-- Верхний блок с контентом -->
                <div class="d-flex flex-grow-1 align-items-start1">
                  <!-- Основной контент слева -->
                  <div class="flex-grow-1 me-3">
                    <div class="fw-bold">
                      <img :src="'/'+plugin.name+'/static/'+plugin.name+'.png'" height="25px" onError="this.src='{{ config.ASSETS_ROOT }}/images/module.png'">
                      <a v-if="plugin.title" :href="'/admin/'+plugin.name">[[ plugin.title ]]</a>
                      <a v-else :href="'/admin/'+plugin.name">[[ plugin.name ]]</a>
                      <span v-for="action in plugin.actions" class="badge bg-success">[[action]]</span>
                      <span v-if="plugin.stars"><i class="text-warning fa-solid fa-star ms-1"></i>[[plugin.stars]]</span>
                      <a v-if="plugin.url" :href="plugin.url" target="_blank"><i class="fab fa-github mx-1"></i></a>
                      <a :href="'/docs/plugins/'+plugin.name+'.html'" target="_blank"><i class="fas fa-info-circle"></i></a>
                    </div>
                    <span v-if="plugin.active">
                      [[ plugin.description ]] (version - [[ plugin.version ]])
                    </span>
                    <div v-if="plugin.author && plugin.author!='Undefined'">{{ _('Author')}}: <b>[[plugin.author]]</b></div>
                  </div>
                  <!-- Блок с кнопками Upgrade и Settings справа -->
                  <div class="d-flex flex-column align-items-end">
                    <span v-if="loading" class="fas fa-rotate fa-spin me-2 mb-2"></span>
                    <a
                      v-if="!loading && plugin.update"
                      :href="'?op=upgrade&name='+plugin.name+'&url='+plugin.html_url"
                      class="btn btn-success btn-sm mb-2"
                      @click.stop.prevent="startUpgrade('?op=upgrade&name='+plugin.name+'&url='+plugin.html_url, plugin.title || plugin.name)"
                    ><i class="fa-solid fa-upload"></i> {{ _('Upgrade')}}</a>
                  </div>
                </div>
                <!-- Нижний блок с кнопками -->
                <div class="mt-auto">
                  <!-- Кнопки управления циклом -->
                  <div v-if="plugin.actions && plugin.actions.includes('cycle')" class="d-flex justify-content-begin">
                    <button v-if="!plugin.alive" class="btn btn-success btn-sm me-1" @click.stop="startCycle(plugin)"><i class="fa-solid fa-play"></i> {{ _('Start cycle')}}</button>
                    <button v-if="plugin.alive" class="btn btn-danger btn-sm me-1" @click.stop="stopCycle(plugin)"><i class="fa-solid fa-stop"></i> {{ _('Stop cycle')}}</button>
                    <button v-if="plugin.alive" class="btn btn-warning btn-sm me-1" @click.stop="reloadCycle(plugin)"><i class="fa-solid fa-refresh"></i> {{ _('Restart cycle')}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="uninstalled" role="tabpanel">
        <div class="row mx-1">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-2 px-1" v-for="(plugin,index) in filteredPluginsGithub">
            <div class="card p-2 cursor-pointer" style="height:100%;" id="widgetGit_{{index}}" @click="openInfo(plugin.name, false)">
              <div class="d-flex justify-content-between align-items-start">
                <!-- Левый блок с контентом -->
                <div>
                  <div class="fw-bold">
                    <img :src="plugin.image" height="25px" onError="this.src='{{ config.ASSETS_ROOT }}/images/module.png'">
                    <a :href="plugin.url" target="_blank">[[ plugin.name ]]</a>
                    <span v-for="topic in plugin.topic" class="badge bg-secondary">[[topic]]</span>
                    <span v-if="plugin.stars"><i class="text-warning fa-solid fa-star ms-1"></i>[[plugin.stars]]</span>
                  </div>
                  <div>[[ plugin.description ]]</div>
                  <div>{{ _('Author')}}: <b>[[plugin.author]]</b></div>
                </div>
                <!-- Правый блок с кнопками -->
                <div class="d-flex flex-column align-items-end">
                  <a :href="'?op=install&name='+plugin.shortName+'&author='+plugin.author" class="btn btn-success" @click.stop><i class="fa-solid fa-upload"></i> {{ _('Install')}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" id="infoModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div v-if="plugin" class="modal-content">
                <div v-if="plugin" class="modal-header">
                  <div class="d-flex flex-grow-1 align-items-start1">
                    <img :src="plugin.image" height="75px" onError="this.src='{{ config.ASSETS_ROOT }}/images/module.png'" class="flex-shrink-0 me-3">
                    <div class="flex-grow-1">
                      <div class="fw-bold">
                        <a :href="plugin.url" target="_blank">[[ plugin.name ]]</a>
                        <span v-if="plugin.stars"><i class="text-warning fa-solid fa-star ms-1"></i>[[plugin.stars]]</span>
                      </div>
                      <div>[[ plugin.description ]]</div>
                      <span v-for="topic in plugin.topic" class="badge bg-secondary me-1">[[topic]]</span>
                      <div v-if="plugin.actions">Supported: <span v-for="action in plugin.actions" class="badge bg-success me-1">[[action]]</span></div>
                      <div>{{ _('Version')}}: <b>[[plugin.version]]</b></div>
                      <div>{{ _('Author')}}: <b>[[plugin.author]]</b></div>
                      <div>{{ _('Updated')}}: <b>[[plugin.updated]]</b></div>
                      <div>
                        <a v-if="plugin.html_url" :href="plugin.html_url" target="_blank"><i class="fab fa-github"></i> Github</a>
                      </div>
                      <div>
                        <a :href="'/docs/plugins/'+plugin.name+'.html'" target="_blank"><i class="fas fa-info-circle"></i> {{ _('Help')}}</a>
                      </div>
                    </div>
                      <div class="d-flex flex-column align-items-end">
                      <a
                        v-if="plugin.update && plugin.name !='osysHome'"
                        class="btn btn-success mb-2"
                        :href="'?op=upgrade&name='+plugin.name+'&url='+plugin.html_url"
                        @click.stop.prevent="startUpgrade('?op=upgrade&name='+plugin.name+'&url='+plugin.html_url, plugin.title || plugin.name)"
                      ><i class="fa-solid fa-upload"></i> {{ _('Upgrade')}}</a>
                      <a
                        v-if="plugin.update && plugin.name =='osysHome'"
                        class="btn btn-success mb-2"
                        href="?op=upgrade_core"
                        @click.stop.prevent="startUpgrade('?op=upgrade_core', plugin.name)"
                      ><i class="fa-solid fa-upload"></i> {{ _('Upgrade')}}</a>
                      <a v-if="'active' in plugin && !systemModules.includes(plugin.name)" class="btn btn-danger" :href="'?op=uninstall&name='+plugin.name" @click.stop onClick="return confirm('Uninstall module?')"><i class="fa-solid fa-trash"></i> {{ _('Uninstall')}}</a>
                      <a v-if="!plugin.installed && plugin.name !='osysHome' && plugin.active === undefined" class="btn btn-success" :href="'?op=install&name='+plugin.shortName+'&author='+plugin.author" @click.stop><i class="fa-solid fa-upload"></i> {{ _('Install')}}</a>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <ul class="nav nav-tabs mb-3" id="configTabs" role="tablist">
                    <li v-if="plugin" class="nav-item"><a class="nav-link tab-button active" id="history-tab" href="#history" data-bs-toggle="tab" role="tab">{{ _('History')}} ([[plugin.branch]])</a></li>
                    <li v-if="settings" class="nav-item"><a class="nav-link tab-button" href="#settings" data-bs-toggle="tab" role="tab">{{ _('Settings')}}</a></li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="general-tab">
                      <div class="list-group">
                        <div v-for="item in commits" :href="item.html_url" target="_blank" class="list-group-item list-group-item-action d-flex p-1" aria-current="true">
                          <img v-if="item.author" :src="item.author.avatar_url" alt="" width="32" height="32" class="rounded-circle flex-shrink-0 me-2">
                          <img v-else src="/Modules/static/Modules.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0 me-2">
                          <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0" style="white-space: pre-line">[[item.commit.message]]</h6>
                              <p class="mb-0 opacity-75">[[item.commit.author.name]]</p>
                            </div>
                            <div>
                              <span v-if="item.installed" class="badge bg-success">{{ _('Installed')}}</span>
                              <span v-else>
                                <a
                                  v-if="plugin.name == 'osysHome'"
                                  class="badge bg-secondary mb-2"
                                  :href="'?op=upgrade_core&commit='+item.sha"
                                  @click.stop.prevent="startUpgrade('?op=upgrade_core&commit='+item.sha, plugin.name)"
                                ><i class="fa-solid fa-upload"></i> {{ _('Install')}}</a>
                                <a
                                  v-else
                                  class="badge bg-secondary mb-2"
                                  :href="'?op=upgrade&name='+plugin.name+'&url='+plugin.html_url+'&commit='+item.sha"
                                  @click.stop.prevent="startUpgrade('?op=upgrade&name='+plugin.name+'&url='+plugin.html_url+'&commit='+item.sha, plugin.title || plugin.name)"
                                ><i class="fa-solid fa-upload"></i> {{ _('Install')}}</a>
                              </span>
                              <small class="opacity-50 text-nowrap">[[item.commit.author.date]]</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-if="name_info == 'osyshome' && settings" class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="general-tab">
                      <div>
                        <label class="form-label">
                          {{ _('Branch repository for update')}}
                        </label>
                        <select class="form-select" aria-label="Select branch" v-model="settings.branch" >
                          <option v-for="item in branches" :value="item.name">[[item.name]]</option>
                        </select>
                      </div>
                      <button type="button" class="btn btn-success mt-3" @click.stop="saveSettingsCore">{{ _('Save')}}</button>
                      [[resultSave]]
                    </div>
                    <div v-if="name_info != 'osyshome' && settings" class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="general-tab">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="settings.active" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{ _('Active')}}
                        </label>
                      </div>
                      <div>
                        <label class="form-check-label" for="flexCheckDefault">
                          {{ _('Title')}}
                        </label>
                        <input type="text" class="form-control" v-model="settings.title">
                      </div>
                      <div class="mb-2">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{ _('Category')}}
                        </label>
                        <input type="text" class="form-control" v-model="settings.category">
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" v-model="settings.hidden" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{ _('Hidden in statusbar')}}
                        </label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" v-model="settings.hidden_widget" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{ _('Hide widget in control panel')}}
                        </label>
                      </div>
                      <div>
                        <label class="form-check-label" for="flexCheckDefault">
                          {{ _('Url repository for update')}}
                        </label>
                        <input type="text" class="form-control" v-model="settings.url">
                      </div>
                      <div>
                        <label class="form-label">
                          {{ _('Branch repository for update')}}
                        </label>
                        <select class="form-select" aria-label="Select branch" v-model="settings.branch" >
                          <option v-for="item in branches" :value="item.name">[[item.name]]</option>
                        </select>
                      </div>
                      <div>
                        <label class="form-check-label" for="flexCheckDefault">
                          {{ _('Logging level')}}
                        </label>
                        <select class="form-select" aria-label="Select level" v-model="settings.level_logging" >
                          <option v-for="level in levels" :value="level.value">[[level.title]]</option>
                        </select>
                      </div>
                      <button type="button" class="btn btn-success mt-3" @click.stop="saveSettings">{{ _('Save')}}</button>
                      [[resultSave]]
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close')}}</button>
                </div>
            </div>
        </div>
  </div>

  <!-- Модальное окно обновления модуля (под управлением Vue) -->
  <div class="modal fade" id="upgradeModal" tabindex="-1" aria-labelledby="upgradeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="upgradeModalLabel">{{ _('Module update') }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close')}}"></button>
        </div>
        <div class="modal-body">
          <p class="fw-bold mb-2">[[ upgradeTitle ]]</p>
          <div v-if="upgradeInProgress" class="d-flex align-items-center">
            <span class="fas fa-rotate fa-spin me-2"></span>
            <span>{{ _('Updating module...') }}</span>
          </div>
          <div v-else>
            <div v-if="upgradeError" class="text-danger">
              <i class="fa-solid fa-triangle-exclamation me-1"></i>{{ _('Update failed') }}
              <div class="small mt-1">[[ upgradeError ]]</div>
            </div>
            <div v-else class="text-success d-flex align-items-center">
              <i class="fa-solid fa-check me-1"></i>{{ _('Update completed successfully') }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    new Vue({
      el: '#list_modules',
      delimiters: ['[[', ']]'], // Измененные разделители
      data: {
        token:"{{token}}",
        systemModules:['Modules','Objects','Users','Scheduler','wsServer'],
        search: '',
        showOnlyUpdates: false,
        sortKey: 'runtime',
        sortAsc: true,
        plugin: undefined,
        plugins: [],
        pluginsGithub:[],
        loading: false,
        error: null,
        osyshome:null,
        name_info:null,
        commits:null,
        settings:null,
        branches:null,
        levels:[ 
          {"value": "None", "title":"Default"},
          {"value": "DEBUG", "title":"Debug"},
          {"value": "INFO", "title":"Info"},
          {"value": "WARNING", "title":"Warning"},
          {"value": "ERROR", "title":"Error"},
          {"value": "ERROR", "title":"Critical"}
        ],
        def_settings: {
          "title": "",
          "category": "",
          "hidden": false,
          "active": false,
          "url": "",
          "hidden_widget": false,
          "level_logging": "None",
        },
        resultSave:"",
        upgradeTitle: "",
        upgradeStatus: "",
        upgradeError: null,
        upgradeInProgress: false,
      },
      async created() {
        await this.fetchData()
      },
      mounted() {
        if (localStorage.modules_filter) {
          this.search = localStorage.modules_filter;
        }
        if (localStorage.modules_show_only_updates) {
          this.showOnlyUpdates = localStorage.modules_show_only_updates === 'true';
        }
      },
      watch: {
        search(value) {
          localStorage.modules_filter = value;
        },
        showOnlyUpdates(value) {
          localStorage.modules_show_only_updates = value;
        },
      },
      computed: {
        filteredPlugins() {
          let data = this.plugins;
  
          if (this.showOnlyUpdates) {
            data = data.filter(row => row.update);
          }

          if (this.search) {
            data = data.filter(row =>
              Object.values(row).some(val =>
                String(val).toLowerCase().includes(this.search.toLowerCase())
              )
            );
          }
          return data;
        },
        filteredPluginsGithub() {
          let data = this.pluginsGithub;
  
          if (this.search) {
            data = data.filter(row =>
              Object.values(row).some(val =>
                String(val).toLowerCase().includes(this.search.toLowerCase())
              )
            );
          }
          return data;
        },
      },
      methods: {
        async fetchData(){
          await this.fetchPlugins()
          await this.fetchGithub()
        },
        async fetchPlugins() {
          this.loading = true
          const response = await axios.get(`/api/plugins`)
              this.plugins = response.data.result
              this.osyshome = response.data.osysHome
              this.loading = false
        },
        headersGithub(){
          var headers = {}
          if (this.token) {
            headers = {
              Authorization: `token ${this.token}`,
              Accept: 'application/vnd.github.v3+json',
            };
          }
          return headers
        },
        fetchGithub() {
          this.loading = true
          axios.get(`https://api.github.com/search/repositories?q=osysHome&per_page=100`,{headers: this.headersGithub()})
            .then(response => {
                var res=[]
                
                response.data.items.forEach(element => {
                    var name = element.name.split('-')[1]
                    info = {
                        "name":element.name,
                        "repo":element.name,
                        "shortName": name,
                        "description":element.description,
                        "author":element.owner.login,
                        "owner":element.owner.login,
                        "updated":null,
                        "url":element.html_url,
                        "topics":element.topics,
                        "stars": element.stargazers_count,
                        "branch": element.default_branch,
                        "image": 'https://raw.githubusercontent.com/'+element.owner.login+'/'+element.name+'/'+element.default_branch+'/static/'+name+'.png'
                    }
                    var find = this.plugins.filter(obj => {
                        return obj.name == name
                    })
                    if (find.length > 0){
                        var plugin = find[0]
                        if (Date.parse(plugin.updated) < Date.parse(element.pushed_at)){
                            plugin.new = true
                        }
                        Vue.set(plugin, 'stars', element.stargazers_count);
                        Vue.set(plugin, 'owner', element.owner.login);
                        Vue.set(plugin, 'repo', element.name);
                        Vue.set(plugin, 'branch', element.default_branch);
                        Vue.set(plugin, 'image', '/'+plugin.name+'/static/'+plugin.name+'.png');
                        Vue.set(plugin, 'html_url', element.html_url);
                        if (plugin.author == "Undefined")
                            Vue.set(plugin, 'author', element.owner.login);
                    }
                    else{
                        if (element.name == 'osysHome'){
                          if (this.osyshome.updated == null)
                            this.osyshome.new = true
                          else
                            if (Date.parse(this.osyshome.updated) < Date.parse(element.pushed_at))
                              this.osyshome.new = true
                          Vue.set(this.osyshome, 'stars', element.stargazers_count);
                          Vue.set(this.osyshome, 'owner', "Anisan");
                          Vue.set(this.osyshome, 'repo', "osysHome");
                          Vue.set(this.osyshome, 'image', "{{ config.ASSETS_ROOT }}/images/logo-dark.png")
                        }
                        else
                            res.push(info)
                    }
                });
                this.pluginsGithub = res
                this.loading = false
            })
            .catch(error => {
              console.log(error)
              self.error = error
              this.loading = false
            })
            ;
        },
        async startCycle(plugin){
          try {
            const response = await axios.get('/api/plugins/'+plugin.name+'/start')
            console.log(response)
            if (response.data.status == 'ok') {
              plugin.alive = true
              if (typeof showNotification === 'function') {
                showNotification({
                  level: 'success',
                  message: '{{ _("Cycle started successfully") }}',
                  title: plugin.title || plugin.name
                })
              }
            } else {
              if (typeof showNotification === 'function') {
                showNotification({
                  level: 'error',
                  message: response.data.message || '{{ _("Failed to start cycle") }}',
                  title: plugin.title || plugin.name
                })
              }
            }
          } catch (error) {
            console.error(error)
            if (typeof showNotification === 'function') {
              showNotification({
                level: 'error',
                message: error.response?.data?.message || error.message || '{{ _("Error starting cycle") }}',
                title: plugin.title || plugin.name
              })
            }
          }
        },
        async stopCycle(plugin){
          try {
            const response = await axios.get('/api/plugins/'+plugin.name+'/stop')
            console.log(response)
            if (response.data.status == 'ok') {
              plugin.alive = false
              if (typeof showNotification === 'function') {
                showNotification({
                  level: 'success',
                  message: '{{ _("Cycle stopped successfully") }}',
                  title: plugin.title || plugin.name
                })
              }
            } else {
              if (typeof showNotification === 'function') {
                showNotification({
                  level: 'error',
                  message: response.data.message || '{{ _("Failed to stop cycle") }}',
                  title: plugin.title || plugin.name
                })
              }
            }
          } catch (error) {
            console.error(error)
            if (typeof showNotification === 'function') {
              showNotification({
                level: 'error',
                message: error.response?.data?.message || error.message || '{{ _("Error stopping cycle") }}',
                title: plugin.title || plugin.name
              })
            }
          }
        },
        async reloadCycle(plugin){
          try {
            const response = await axios.get('/api/plugins/'+plugin.name+'/restart')
            console.log(response)
            if (response.data.status == 'ok') {
              plugin.alive = true
              if (typeof showNotification === 'function') {
                showNotification({
                  level: 'success',
                  message: '{{ _("Cycle restarted successfully") }}',
                  title: plugin.title || plugin.name
                })
              }
            } else {
              if (typeof showNotification === 'function') {
                showNotification({
                  level: 'error',
                  message: response.data.message || '{{ _("Failed to restart cycle") }}',
                  title: plugin.title || plugin.name
                })
              }
            }
          } catch (error) {
            console.error(error)
            if (typeof showNotification === 'function') {
              showNotification({
                level: 'error',
                message: error.response?.data?.message || error.message || '{{ _("Error restarting cycle") }}',
                title: plugin.title || plugin.name
              })
            }
          }
        },
        openInfo(name, installed){
          this.name_info = name
          if (name != 'osyshome'){
            this.plugin = this.plugins.find(p => p.name === name);
            if (this.plugin == null)
              this.plugin = this.pluginsGithub.find(p => p.name === name);
          }
          else
            this.plugin = this.osyshome
          this.commits = null
          this.settings = null
          this.branches = null
          $('#history-tab').tab('show');
          $('#infoModal').modal('show')
          this.fetchBranches(this.plugin.owner, this.plugin.repo)
          this.fetchCommits(this.plugin.owner, this.plugin.repo, this.plugin.branch)
          if (installed){
            if (name != 'osyshome')
              this.fetchSettings(this.plugin.name)
            else{
              this.settings = {"branch":this.plugin.branch}
            }
          }
        },
        async fetchBranches(owner,name){
          const response = await axios.get("https://api.github.com/repos/"+owner+"/"+name+"/branches", {headers: this.headersGithub()})
          this.branches = response.data
        },
        async fetchCommits(owner, name, branch) {
          this.commits = null
          var url = "https://api.github.com/repos/"+owner+"/"+name+"/commits?"
          if (branch)
            url +="sha="+branch+"&"
          url += "per_page=15"
          const response = await axios.get(url, {headers: this.headersGithub()})
          var commits = response.data
          if (!Array.isArray(commits)) 
            commits =  [commits]
          var fl= false
          if (this.plugin.updated){
            for (var element of commits) {
              if (Date.parse(this.plugin.updated) >= Date.parse(element.commit.author.date)){
                Vue.set(element, 'installed', true);
                break
              }
            }
          }
          this.commits = commits
        },
        async fetchSettings(name) {
          this.settings = null
          const response = await axios.get("/api/plugins/"+name+"/settings")
          if (response.status == 200)
            this.settings = { ...this.def_settings, ...response.data}
          console.log(this.settings)
        },
        async saveSettings(){
          const response = await axios.post("/api/plugins/"+this.plugin.name+"/settings", this.settings)
          this.resultSave = "Result: " + response.data.message
          setTimeout(() => {
            this.resultSave = null; // Обнуляем значение
          }, 5000);
        },
        async saveSettingsCore(){
          const response = await axios.post("/api/property/SystemVar.core_branch", this.settings.branch, {headers: { 'Content-Type' : 'text/plain' }})
          this.resultSave = "Result: " + response.data.success
          this.osyshome.branch = this.settings.branch
          setTimeout(() => {
            this.resultSave = null; // Обнуляем значение
          }, 5000);
        },
        async startUpgrade(url, title) {
          this.upgradeTitle = title
          this.upgradeStatus = ""
          this.upgradeError = null
          this.upgradeInProgress = true
          $('#upgradeModal').modal('show')
          let success = false
          try {
            const response = await axios.get(url + (url.includes('?') ? '&' : '?') + 'ajax=1')
            if (response.data && response.data.status === 'ok') {
              success = true
            } else if (response.data && response.data.status === 'error') {
              this.upgradeError = response.data.message || 'Error'
            } else {
              this.upgradeError = response.statusText || 'HTTP error'
            }
          } catch (error) {
            console.error(error)
            this.upgradeError = error.response?.data?.message || error.message
          } finally {
            this.upgradeInProgress = false
            await this.fetchData()
            if (success) {
              setTimeout(() => {
                $('#upgradeModal').modal('hide')
              }, 1500)
            }
          }
        }
      }
    });
  </script>
<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>

<!-- Модальное окно с настройками -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form  method="POST">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ _('Settings')}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Поля формы -->
              {{ form.hidden_tag() }}
              <div class="mb-3">
                  <label class="form-label">{{ _('Update time') }}</label>
                  {{ form.update_time(class="form-control") }}
              </div>
              <div class="mb-3">
                <label class="form-label">{{ _('Token') }}</label>
                  {{ form.token(class="form-control") }}
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close')}}</button>
              <button type="submit" class="btn btn-primary">{{ _('Submit')}}</button>
          </div>
          </form>
      </div>
  </div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}
{% endblock javascripts %}
